.Results_item {
  position: relative;
  display: flex;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #eee;
  }
  &:last-child {
    padding-bottom: 10px;
  }
}

.Results_item_img {
  margin: var(--mar) var(--mar);
  width: 218px;
  height: 180px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.Results_item_text {
  color: var(--darkg);
  max-width: 375px;
}

.Results_item_desc {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: var(--pad);
}

.Results_item_textPrice {
  display: flex;
  margin-bottom: var(--pad);
  font-size: var(--LG);
  font-family: var(--MELIM);
  line-height: 24px;

  &::after {
    content: url('../../../assets/enviosm.png');
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}

.Results_item_textDesc {
  margin-bottom: var(--pad);
  font-size: var(--medium);
  font-family: var(--MELIM);
}

.Results_item_place {
  font-size: var(--ultraSM);
  font-family: var(--MELIL);
  color: var(--lightg);
  margin-right: 116px;
  margin-top: 20px;
}
