// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Meli L';
  src: url('../assets/fonts/proximanova-light.woff2') format("woff"),
}

@font-face {
  font-family: 'Meli M';
  src: url('../assets/fonts/proxima-nova-400.woff2') format("woff"),
}

@font-face {
  font-family: 'Meli B';
  src: url('../assets/fonts/proxima-nova-600.woff2') format("woff"),
}

@font-face {
  font-family: 'Icons';
  src: url('../assets/fonts/search-icons-v34.woff2') format("woff"),
}

// Global Vars

:global :root {
  // Colors
  --blue: #3483fa;
  --darkg: #333;
  --darkw: #eee;
  --lightg: #999;
  --midg: #666;
  --yellow: #ffe600;
  --yellowMELI: #fff159;
  --grayMELI: #ebebeb;

  // Margin & Paddings

  --mar: 16px;
  --pad: 32px;

  // FontFamily

  --MELIL: 'Meli L';
  --MELIM: 'Meli M';
  --MELIB: 'Meli B';
  --ICONS: 'Icons';

  // Font Sizes

  --ultraSM: 12px;
  --superSM: 14px;
  --SM: 16px;
  --medium: 18px;
  --LG: 24px;
  --superLG: 28px;
  --ultraLG: 46px;

  // MELI SIZE
  --MELI16: 16px;
}

// General
body {
  background-color: var(--grayMELI);
  padding-bottom: var(--pad);
}

:global .WhiteBoard {
  width: 100%;
  max-width: 1200px;
  background-color: white;
  border-radius: 5px;
}
