.Breadcrumb {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Breadcrumb_container {
  width: 100%;
  max-width: 1200px;
  padding: var(--mar) 0;
  font-size: var(--superSM);
}

.Breadcrumb_list {
  list-style: none;
  display: flex;
  align-items: center;
}

