.button {
      width: calc(100% - var(--pad));
      padding: 10px 0;
      border-radius: 5px;
      border: none;
      outline: none;
      background-color: var(--blue);
      color: white;
      cursor: pointer;
      font-family: var(--MELIM);
      font-size: var(--medium);
    }