.Product {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Product_container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.Product_detail {
  grid-column: 1 / 8;
  display: flex;
  flex-direction: column;
}

.Product_img {
  width: 680px;
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
}


// ASIDE

.Product_aside {
  grid-column: 8 / 11;
  height: 300px;
}

.data {
  margin-top: var(--pad);
  margin-bottom: var(--mar);
  font-size: var(--superSM);
  font-family: var(--MELIL);
}

.name {
  font-size: var(--LG);
  font-family: var(--MELIB);
  max-width: 70%;
}



