.data {
  margin-top: var(--pad);
  margin-bottom: var(--mar);
  font-size: var(--superSM);
  font-family: var(--MELIL);
}

.name {
  font-size: var(--LG);
  font-family: var(--MELIB);
  max-width: 70%;
}
